<html>
   <head>
      <title>INSERT PAGE NAME HERE</title>
      <meta name="mt-type" value="application/x.deki-text" />
      </link>
   </head>
   <body>
      <h1 class="mt-export-title">INSERT PAGE NAME HERE</h1>
      
      <pre class="script">
      template('MindTouch/Controls/PageOverview');
      </pre>
      
      <p>INSERT CONTENT HERE</p>
      
      <pre class="script">
      template('MindTouch/IDF3/Views/Guide');
      </pre>
      
      <p class="template:tag-insert"><strong>Page tags: </strong><a>article:topic-guide</a></p>
   </body>
</html>
